add_canvas_preview.diff
PicatchUsFB/resources/android/icon/icon.png
PicatchUsFB/resources/ios/icon/Icon-Small-50.png
PicatchUsFB/resources/ios/icon/Icon-Small-50@2x.png
PicatchUsFB/resources/ios/icon/iTunesArtwork.png
PicatchUsFB/resources/ios/icon/iTunesArtwork@2x.png
