.headerCGU {
	background-color:#7b39ff !important;
}

.iconCGU {
	color:white;
}

.titleCGU {
	font-size:1.1em !important;
}

.contentCGU {
	margin-left: 15px;
  	margin-right: 15px;
}

.h1CGU {
	font-size: 1.5em;
	color: #7b39ff;
	margin-top: 15px;
	margin-bottom: 5px;
}

.h3CGU {
	margin-top: 10px;
	margin-bottom: 5px;
	font-size: 1.2em;
	color: rgba(123, 57, 255,0.6);
}