.homeLogin {
    background: url(../img/selfie-ultra.jpg) no-repeat center fixed;
    background-size: cover;
}

.logo{
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 75px;    
}

.slogan {
    position:absolute;
    right:0px;
    left:0px;
    text-align: center;
    color:white;
    line-height: 30px;
    top: 20%;
    font-size: 2em;
}

.timeshot {
    text-align: center;
    color:white;
    top: 10% !important;
    font-size: 6em;
    line-height: 30px;
    position: absolute;
    top: 20%;
    display: block;
    left: 0px;
    right: 0px;
    font-family: "Timeshot";
}

.terms-privacy {
    font-size: 1em;
}

.terms-privacy span {
    text-decoration: underline;
}

/* Facebook Button */
.fbDiv {
    position:absolute;
    right:0px;
    left:0px;
    bottom:15%;
    text-align: center;
}
.fbBtn {
    display:block;
    height:34px;
    width: 75%;
    line-height: 34px;
    margin:auto;
    padding-left: 8px;
    padding-right: 15px;
    text-indent: 10px;
    border:none;
    font-size: 1.5em;
    background:#3c5a98;
    color: #fff;
    font-family:Tahoma, Geneva, sans-serif;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-shadow:0 -1px 0 rgba(0,0,0,0.5);
    -moz-box-shadow:0 0 4px rgba(0,0,0,0.4);
    -webkit-box-shadow:0 0 4px rgba(0,0,0,0.4);
    box-shadow:0 0 4px rgba(0,0,0,0.4);
}

.fbBtn::before{
    font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;;
    content:"f";
    float:left;
    width:34px;
    height:34px;
    border-color:#3c5a98;
    text-transform:lowercase;
    text-indent:10px;
    font-weight:bold;
    margin:0 0 0 -8px;
    font-size:34px;
    line-height:36px;
    color:#fff;
    overflow:hidden;
    border: none;

    -moz-box-shadow:0 0 4px rgba(0,0,0,0.4);
    -webkit-box-shadow:0 0 4px rgba(0,0,0,0.4);
    box-shadow:0 0 4px rgba(0,0,0,0.4);

    text-shadow:0 -1px 0 rgba(0,0,0,0.5);
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

    
.fbBtn:hover{
    background: rgb(50,75,126);
    background: -moz-linear-gradient(top,  rgba(50,75,126,1) 0%, rgba(60,90,152,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(50,75,126,1)), color-stop(100%,rgba(60,90,152,1)));
    background: -webkit-linear-gradient(top,  rgba(50,75,126,1) 0%,rgba(60,90,152,1) 100%);
    background: -o-linear-gradient(top,  rgba(50,75,126,1) 0%,rgba(60,90,152,1) 100%);
    background: -ms-linear-gradient(top,  rgba(50,75,126,1) 0%,rgba(60,90,152,1) 100%);
    background: linear-gradient(to bottom,  rgba(50,75,126,1) 0%,rgba(60,90,152,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#324b7e', endColorstr='#3c5a98',GradientType=0 );
}
    
.fbBtn:active{
    background: rgb(35,53,88);
    background: -moz-linear-gradient(top,  rgba(35,53,88,1) 0%, rgba(50,75,126,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(35,53,88,1)), color-stop(100%,rgba(50,75,126,1)));
    background: -webkit-linear-gradient(top,  rgba(35,53,88,1) 0%,rgba(50,75,126,1) 100%);
    background: -o-linear-gradient(top,  rgba(35,53,88,1) 0%,rgba(50,75,126,1) 100%);
    background: -ms-linear-gradient(top,  rgba(35,53,88,1) 0%,rgba(50,75,126,1) 100%);
    background: linear-gradient(to bottom,  rgba(35,53,88,1) 0%,rgba(50,75,126,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#233558', endColorstr='#324b7e',GradientType=0 );
}
.rowPol {
    position: absolute;
    bottom: 4%;
    padding: 0px;
}

.rowPol .col {
    color:white;
    text-align: center;
}

.rowPolicy {
    position:absolute;
    bottom:0%;
    padding-bottom: 0px;
}



.colPolicy {
    color:white;
    font-weight: bold;

}
