.modalPane {
	background-color: black;
}

.descriptionPhoto {
	position: absolute;
  z-index: 1;
	right: 65px;
	bottom: 3%;
	height: 11%;
	left: 5px;
	font-size: 18px;
	color: white;
}

.descriptionPhoto textarea {
  color: white;
  background-color: transparent;
  width: 100%;
  height: 100%;
  opacity: 1;
}

.portrait{
	height:100%;
}

.portrait img {
  height: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4em;
  display: block;
}

.landscape {
	height:100%;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.landscape img {
	width: 100%;
    vertical-align: middle;
}

.modalPhoto-like {
	position: absolute;
  	z-index: 1;
  	bottom: 0px;
  	left: 5px;
  	font-size: 18px;
  	color: white;
}

.modalPhoto-userLike{
	z-index: 1;
  	text-align: center;
  	background-color: white;
  	height: 55px;
  	width: 55px;
  	right: 5px;
  	font-size: 50px;
  	padding-top: 4px;
  	border-radius: 50%;
  	position: absolute;
  	bottom: 5px;
}