body{
    width: auto;
    background-color:#4f4e53; 
}
/*
 * HEADER & BOTTOM BAR
 */
.bar.bar-stable .title {
    color: #A03C39;
}

.button-custom {
	color: #A03C39;
}

/* LOGIN PAGE */
.fbBtn {
    display:block;
    height:34px;
    line-height: 34px;
    margin:auto;
    margin-top:20%;
    padding-left: 8px;
    padding-right: 15px;
    text-indent: 10px;
    border:none;
    font-size: 20px;
    background:#3c5a98;
    color: #fff;
    font-family:Tahoma, Geneva, sans-serif;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-shadow:0 -1px 0 rgba(0,0,0,0.5);
    -moz-box-shadow:0 0 4px rgba(0,0,0,0.4);
    -webkit-box-shadow:0 0 4px rgba(0,0,0,0.4);
    box-shadow:0 0 4px rgba(0,0,0,0.4);
}

.fbBtn::before{
    font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;;
    content:"f";
    float:left;
    width:34px;
    height:34px;
    border-color:#3c5a98;
    text-transform:lowercase;
    text-indent:10px;
    font-weight:bold;
    margin:0 0 0 -8px;
    font-size:34px;
    line-height:36px;
    color:#fff;
    overflow:hidden;
    border: none;

    -moz-box-shadow:0 0 4px rgba(0,0,0,0.4);
    -webkit-box-shadow:0 0 4px rgba(0,0,0,0.4);
    box-shadow:0 0 4px rgba(0,0,0,0.4);

    text-shadow:0 -1px 0 rgba(0,0,0,0.5);
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

    
.fbBtn:hover{
    background: rgb(50,75,126);
    background: -moz-linear-gradient(top,  rgba(50,75,126,1) 0%, rgba(60,90,152,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(50,75,126,1)), color-stop(100%,rgba(60,90,152,1)));
    background: -webkit-linear-gradient(top,  rgba(50,75,126,1) 0%,rgba(60,90,152,1) 100%);
    background: -o-linear-gradient(top,  rgba(50,75,126,1) 0%,rgba(60,90,152,1) 100%);
    background: -ms-linear-gradient(top,  rgba(50,75,126,1) 0%,rgba(60,90,152,1) 100%);
    background: linear-gradient(to bottom,  rgba(50,75,126,1) 0%,rgba(60,90,152,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#324b7e', endColorstr='#3c5a98',GradientType=0 );
    }
    
.fbBtn:active{
    background: rgb(35,53,88);
    background: -moz-linear-gradient(top,  rgba(35,53,88,1) 0%, rgba(50,75,126,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(35,53,88,1)), color-stop(100%,rgba(50,75,126,1)));
    background: -webkit-linear-gradient(top,  rgba(35,53,88,1) 0%,rgba(50,75,126,1) 100%);
    background: -o-linear-gradient(top,  rgba(35,53,88,1) 0%,rgba(50,75,126,1) 100%);
    background: -ms-linear-gradient(top,  rgba(35,53,88,1) 0%,rgba(50,75,126,1) 100%);
    background: linear-gradient(to bottom,  rgba(35,53,88,1) 0%,rgba(50,75,126,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#233558', endColorstr='#324b7e',GradientType=0 );
    }


/* Home Page */

.currentMonth > input {
    background-color: transparent;
    font-size: 2em;
    color: white;
    text-align: center;
    margin:0px;
    width:100%;
}

.previousMonth {
    font-size: 2.5em;
    padding-left: 10px;
}

.nextMonth {
    font-size:2.5em;
    text-align:right;
    padding-right: 10px;
}

div.headerProfile {
    top:0px;
    left:0px;
    height:44px;
    font-size: 20px;
    padding-top: 5px;
    padding-left:5px;
    background-color:#2980b9;    
}

.bar-custom {
    background-color: #4183D7 !important;
}

.home-bg {
    background: url(../img/bg.jpg) no-repeat center fixed;
    background-size: cover;
}

div.userProfile {
    top:0px;
    left:0px;
    height:100%;
}

div.userProfile h3 {
    text-align:center;
    color:white;
    margin:0px;
}

div.userProfile img {
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    width:28%;
    border-radius: 150px;
    border-color:white;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
}

.itemListEvent {
    height: 80px;
    background-color: transparent;
    border-color: rgba(255,255,255,0.1);
    padding: 8px 5px 5px 5px;
}

.listInfoEvent {
    color:white;
    height:75px;
    margin-bottom: 25px;
}

.photoListEvent {
    border-radius:5px;
    border-color:white;
    border:2px;
}

.col h2{
    color: white;
    font-size: 1.2em;
}

.col-20 {
    text-align: center;
    margin-right: 5%;
}

.col-20 .jour {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.col-20 .mois {
    font-size: 15px;
    color: white;
    margin-top: 7%;
}

.col-50 {
    color:white;
    text-align: center;
}

.col-50 i {
    padding-left: 2px;
}

/* EVENT DESIGN */

.item-content {
    padding: 0px !important;
    background-color: transparent !important;
}

.clear-search {
  font-size: 18px;
}

.item-input-inset {
    padding: 0px;
    height: 100%;
    border-radius: 5px;   
}

.header-info-event {
    color: white;
    height: 75px;
    margin-bottom: 10px;
    font-size: 1.8em;
}

.header-info-event .col{
    text-align:center;

}

.ion-chevron-left {
    padding-top:5px;
    padding-bottom:5px;
    font-size:1.5em;
}
div.userEvent ,div.headerEvent{
    position:absolute;
    width:100%;
} 

div.headerEvent {
    top:0px;
    left:0px;
    height:44px;
    font-size: 20px;
    padding-top: 5px;
    padding-left:5px;    
}

.headerEvent .col-80 {
    font-size: 15px;
    text-align:center;
}

div.userEvent {
    top:44px;
    left:0px;
    height:150px;
}

div.userEvent h3 {
    text-align:center;
    color:white;
    margin:0px;
}

div.userEvent img {
    display:block;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
    width:20%;
    border-radius: 150px;
    border-color:white;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
}

.col-50 img {
    height:303px;
    width:303px;
    position:center;
}

.col-50 p {
    color: black;
}

.listPhotos .col {
    padding:3px;
}

.footer-photo {
    background-color: rgba(0,0,0,0.4);
    color: white;
    font-size: 20px;
}

.footer-photo-like .ion-ios-heart-outline, .ion-ios-heart {
    color: red;
}

.footer-photo > div {
    display: inline-block;
    width: 50%;
}

.footer-photo .footer-photo-like {
    padding-right: 6px;
    text-align: right;
}

#picture{
    width: 100%;
    height: auto
}

.header-date-event {
    margin-top: 4%;
}

.header-date-event > .jour{
    font-size:32px;
}

.header-date-event > .mois{
    font-size:23px;
}

.item-divider {
    padding-top: 2px;
    padding-bottom: 2px;
    min-height: 22px;
}

.item {
    padding: 5px;
}

.card {
    margin: 0px;
}

/*
 * PHOTO MODAL PAGE 
 */
#modal_img {
    width: 100%;
    height: auto;
}

.modal {
    background-color: black;
}

.modal-likes{
    font-size: 25px;
    color: red;
}

.modal-description {
    color: white;
}

.modal-description > textarea {
    background-color: transparent;
    color: white;
    width: 100%;
    height: 95px;
    max-height: 95px;
}

