<ion-view hide-nav-bar="false" view-title="Fil d'actualité" id="feed" ng-init="init()">
	<ion-content>
		<ion-refresher pulling-text="Tirer pour rafraîchir" on-refresh="refresh()"></ion-refresher>
		<div class="spinner">
	    	<ion-spinner ng-show="loading"></ion-spinner>
	    </div>
		<div class="list card eventCard" collection-repeat="photo in livePhotos | orderBy:'created_time':true"
								collection-item-width="100%">
			<div class="item item-avatar row eventItem">
				<div class="col col-20">
			  		<img img-cache ng-src="{{photo.from.picture.data.url}}" style="border-radius:150px;">
				</div>
				<div class="col col-80">
			    	<h2>{{photo.from.name}}</h2>
			    	<p>{{photo.time_ago}} - {{photo.event_name}}</p>
			  	</div>
 	     	</div>

			<div class="item item-body">
				<p>{{photo.name}}</p>
			    <img img-cache class="full-image" ng-src="{{photo.src_modal}}" ng-click="openModalPhoto(photo.pos)">
			</div>

			<div class="item tabs tabs-secondary tabs-icon-left" ng-switch on="photo.has_liked">
			    <a class="tab-item" href="#">
			    	{{photo.total_likes}} J'aime</a>			    	
			    </a>
			    <a class="tab-item" href="#">
			    	<i ng-switch-when="false" class="ion-ios-heart-outline" ng-click="like(photo.pos)">Like</i>
			    	<i ng-switch-when="true" class="ion-ios-heart" ng-click="dislike(photo.pos)">Like</i>
			    </a>
		    </div>
		</div>
	</ion-content>
</ion-view>