<ion-view view-title="Events" id="events"class="home-bg" ng-init="init()">
	<ion-nav-buttons side="right">
      <button class="button" ng-click="logout()">
        log out
      </button>
    </ion-nav-buttons>
	<ion-content>
	    <div class="row segmented-controls">
	    	<ti-segmented-control style="width: 100%">
		      <ti-segmented-control-button ng-click="selectStatus(0)" class="button-light">Terminés</ti-segmented-control-button>
		      <ti-segmented-control-button ng-click="selectStatus(1)" class="button-light" selected>En cours</ti-segmented-control-button>
		    </ti-segmented-control>
	    </div>
		<ion-refresher pulling-text="Tirez pour rafraîchir" on-refresh="refresh()"></ion-refresher> 
	    <ion-list class="list" canswipe="listCanSwipe" >
	        <ion-item class="item itemListEvent" ng-repeat="event in events | filter:{status: data.filterSelected}" ui-sref="eventDetails({eventId: event.id})">
		            <div class="row listInfoEvent">
		            	<div class="col col-20">
			            	<p class="jour">
			            		{{event.start_time | moment: 'Do'}}
			            	</p>
			            	<p class="mois">
			            		{{event.start_time | moment: 'MMM'}}
			            	</p>
		            	</div>
		            	<div class="col">
			            	<h2>{{event.name}}</h2>
			            	<div class="row">
			            		<div class="col col-50">
			            			{{event.total_participants}}<i class="ion-person-stalker light"></i>
			            		</div>
			            		<div class="col col-50">
		            				{{event.total_photos}}<i class="ion-images light"></i>
			            		</div>
			            		
			            	</div>
		            	</div>
		            </div>
	        </ion-item>
	    </ion-list>
	</ion-content>
</ion-view>
