<ion-modal-view>
	<ion-header-bar align-title="left" class="bar-stable row">	
		<div class="col col-20">
		    <i class="ion-chevron-left" ng-click="closeCGU()"></i>
		</div>
		<h1 class="title">Conditions Générales d’Utilisation</h1>
	</ion-header-bar>
	
	<ion-content>
	<h1>1. DEFINITIONS</h1>
		<p>
			Dans les présentes CGU, y compris dans le Préambule, les termes visés ci-dessous, qu’ils soient employés au singulier ou au pluriel, auront la signification suivante :		
		</p>
		<p>
			<strong>Application :</strong> 
			désigne l’application logicielle mobile exploitée par Picatch’Us, permettant à un Utilisateur d’accéder à ses évènements Facebook et de les enrichir, pouvant être utilisée sur des terminaux Apple iOS et Android OS.		
		</p>
		<p>
			<strong>Album :</strong>
			album de photographies, créé par un Utilisateur via Facebook de par la création d’un évènement privé ou public, accès exclusif via l’Application ou via Facebook.
		</p>
		<p>
			<strong>Utilisateur :</strong>
			Toute personne ayant créé un compte lui donnant l'autorisation d’enrichir un Album et/ou de le partager et/ou de le consulter.
		</p>
	<h1>2. DESCRIPTION DE L’APPLICATION</h1>
		<h3>2.1. Description des Services</h3>
		<p>
			Picatch’Us propose aux Utilisateurs via son Application les Services :
			<ol>
				<li>De prise de photographies</li>
				<li>De consultation d’Album</li>
				<li>De partage de photographies dans le cadre des Albums (évènement)</li>
				<li>De partage de photographies via Facebook hors évènement</li>
			</ol>
		</p>

		<h3>2.2. Support de réception des Services</h3>
		<p>
			Les Services sont accessibles en Wi-Fi et en 3G/3G+/4G sur iPhone (à partir d'iOS 7.1), sous réserve de télécharger l’application gratuite « Picatch’Us » depuis l’Apple Store sur son équipement. Cette application permet d’accéder à l’ensemble des Services.
		</p>
		<p>
			Les Services sont accessibles en Wi-Fi et en 3G/3G+/4G sur smartphones Android à partir de Android 4.1, via le Site et sous réserve de télécharger l’application gratuite « Picatch’Us » depuis Google Play sur son équipement. Cette application permet d’accéder à l’ensemble des Services.
		</p>

	<h1>3. ADHESION ET ACCES AU SERVICE</h1>
		<p>
			L’accès aux Services est réservé aux Utilisateurs disposant d'un smartphone et d'un accès à Internet sous leur seule responsabilité.
		</p>

		<h3>3.1. Acceptation et opposabilité des CGU</h3>
		<p>
			L’accès à l’Application nécessite après son téléchargement une connexion via un compte utilisateur Facebook.<br>
			Ce faisant l'Utilisateur accepte sans condition les présentes CGU et celles de Facebook.
		</p>
		<p>
			L'Utilisateur est invité à lire les présentes CGU disponibles sur l'Application en actionnant l'onglet Réglages et également sur le site Internet Picatch’Us via l'adresse URL https://www.Picatchus.fr/terms, mais aussi celle présente sur l’application et sur le site Facebook via l’adresse URL https://www.facebook.com/about/privacy
		</p>
		<p>
			En toute hypothèse, toute utilisation de l’Application par l'Utilisateur emporte acceptation sans réserve des CGU en vigueur.<br>
			Picatch’Us se réserve le droit d'apporter aux présentes CGU toutes les modifications qu'elle jugera nécessaires et utiles comme indiqué à l’article 11 des présentes CGU.<br>
			L'Utilisateur sera invité à prendre connaissance des CGU ainsi modifiées.<br>
			L'utilisation de l'Application emporte acceptation de celles-ci.
		</p>

		<h3>3.2. Création d’un Compte Utilisateur</h3>
		<p>
			Pour utiliser Picatch’Us, vous devez vous connecter en utilisant votre connexion Facebook. Si vous le faites, vous nous autorisez à accéder et à utiliser certaines informations concernant votre compte Facebook, comprises mais non limitées à votre profil Facebook public, telles que des informations sur vos évènements et sur vos amis avec lesquels vous pourriez partager qu’ils soient utilisateurs de Picatch’Us ou non.
		</p>

	<h1>4. Fonctionnement de l’Application</h1>
		<h3>4.1. Création, édition et administration d’un Album</h3>
		<ul>
			<li>Tout Utilisateur peut créer gratuitement un ou plusieurs Album(s) par le biais de la création d’un évènement Facebook.</li>
			<li>L’Utilisateur créateur d'un Album, pourra inviter un ou plusieurs autres Utilisateurs en respectant les CGU des évènements Facebook, les invités pourront participer en le rejoignant sur l'Application ou directement via Facebook.</li>
			<li>Il est précisé que Picatch’Us et Facebook se réservent expressément le droit de refuser et de ne pas intégrer à l’Album une photographie qui n'apparaîtrait pas conforme aux présentes CGU et notamment à l’article 8 ci-après, et celles de Facebook.</li>
		</ul>
		<p>
			Les photographies validées sont stockées et hébergées sur le (les) serveur(s) appartenant à Facebook.
		</p>

		<h3>4.2. Enrichissement des Albums</h3>
		<p>
			Toute personne ayant accepté l'invitation qui leur a été adressée via l’évènement Facebook ont la possibilité d’enrichir ce dernier et donc l’album, via Picatch’Us grâce à la fonction de prise de photo et « j’aime ».
		</p>

		<h3>4.3. Consultation des Albums</h3>
		<p>
			L’Album et donc les photographies seront disponibles sur l’Application et sur l’évènement Facebook en instantané.<br>
			L’Album et son contenu ne sont visibles et exploitables (ajout de photo, « j’aime » consultation…) que par les Utilisateurs ayant accepté l'invitation qui leur a été adressée via l’évènement Facebook.			
		</p>

		<h3>4.4. Téléchargement des photographies</h3>
		<p>
			Tout Utilisateur participant à un Album peut télécharger les photographies aux fins exclusives de les conserver, les partager et les consulter.
		</p>

		<h3>4.5. Suppression des photographies</h3>
		<p>
			À la suite de la publication de l’Album sur Facebook et donc sur l’Application, l’Utilisateur a la faculté de supprimer toute photographie prise par lui-même.
		</p>

	<h1>5. MODIFICATION OU SUPPRESSION DE L’APPLICATION</h1>
		<p>
			Picatch’Us se réserve le droit de modifier et/ou d’améliorer l’Application à tout moment si elle le juge utile ou nécessaire et ne pourra en aucun cas être tenue responsable des dommages pouvant résulter de ce fait.
		</p>
		<p>
			Picatch’Us se réserve par ailleurs expressément le droit de retirer l’Application à tout moment et pour quelque raison que ce soit.			
		</p>

	<h1>6. PROPRIETE INTELLECTUELLE</h1>
		<h3>6.1. Application</h3>
		<p>
			Tous les droits de propriété intellectuelle, en particulier les droits d’auteur, portant sur la structure générale de l’Application ainsi que sur les textes, images, animées ou non, photographies, sons et tout autre élément composant l’Application, demeurent la propriété exclusive de Picatch’Us ou de leurs titulaires respectifs, sous réserve des éléments protégés par un droit de propriété intellectuelle et appartenant aux Utilisateurs.
		</p>
		<p>
			Toute exploitation, commerciale ou non, notamment tout téléchargement, copie, reproduction, distribution, transmission, diffusion, adaptation, traduction ou représentation, intégrale ou partielle de l’Application, par tout moyen et procédé actuel ou futur, sur tout support actuel ou futur, sans l’autorisation préalable et écrite de Picatch’Us est interdite et est susceptible de donner lieu à des poursuites judiciaires, notamment au titre de la contrefaçon sanctionnée par les articles L. 335-2 et suivants du Code de la Propriété Intellectuelle, sous réserve de l’application de l’article L. 122-5 dudit Code.
		</p>
		<p>
			Toute utilisation autorisée des éléments composant ou figurant dans l’Application et appartenant à Picatch’Us doit se faire sans dénaturation, modification ou altération quelconque.<br>
			Tous les droits de propriété intellectuelle et notamment les droits d'auteur portant sur le site Internet et ses composants (charte graphique, contenu…) sont la propriété exclusive de Picatch’Us et ne peuvent être utilisés et/ou reproduits sans son autorisation préalable expresse.
		</p>
		<p>
			Tout usage d'un signe similaire ou identique pour désigner des produits et/ou services identiques ou similaires est interdit sauf autorisation préalable expresse de Picatch’Us.
		</p>

	<h1>7. RESPONSABILITE</h1>
		<h3>7.1. Limitation de responsabilité</h3>
		<p>
			Picatch’Us intervient en qualité de passerelle avec les hébergeurs de Facebook.<br>
			À ce titre, Picatch’Us n’est tenue d’aucune obligation générale de surveillance des contenus diffusés sur l’Application par les Utilisateurs.<br>
			L'Application est en outre proposée en l'état.
		</p>
		<p>
			Picatch’Us ne pourrait être tenue responsable en cas de dommages résultant de l'inadéquation de l'Application à un usage particulier ou aux attentes et besoins de l'Utilisateur.
		</p>
		<p>
			Picatch’Us ne pourra également être tenue responsable de l'usage que l'Utilisateur fait des informations qui sont mises à sa disposition par le biais de l'Application, l'Utilisateur étant et demeurant seul responsable des décisions qu'il prend et des choix qu'il fait.
		</p>

		<h3>7.2. Accès au Service</h3>
		<p>
			Picatch’Us s’efforce de permettre l’accès aux Services sans interruption sauf en cas de force majeure ou d’un événement hors de son contrôle, et sous réserve des éventuelles interventions de maintenance nécessaires au bon fonctionnement des Services ou de l’Application et/ou d’interventions aux fins d’amélioration et/ou modifications des Services ou de l’Application, qui pourront être effectuées sans que Picatch’Us en avertisse préalablement les Utilisateurs.
		</p>
		<p>
			En aucun cas, Picatch’Us ne saurait être tenue responsable des interruptions d’accès au Service et de leurs conséquences dommageables, quelle qu’en soit l’étendue, pour l’Utilisateur ou tout tiers, sauf dommages directs résultant d’une faute lourde ou intentionnelle de Picatch’Us.
		</p>
		<p>
			Par ailleurs, il appartient à chaque Utilisateur de prendre toutes les mesures appropriées afin de se protéger contre la contamination de ses données, logiciels ou matériels par des virus circulant éventuellement à travers l’Application ou les informations qui y sont publiées, et de gérer les sauvegardes des fichiers téléchargés.
		</p>
		<p>
			L'Utilisateur accepte expressément et reconnaît que tout contenu obtenu à l'aide de l'Application est effectué sous sa responsabilité et qu'il est entièrement responsable de tout dégât ou dommage causé à son système de téléphonie mobile et de toute perte de données qui pourrait résulter du téléchargement d'un tel contenu.
		</p>

		<h3>7.3. Dysfonctionnement des supports</h3>
		<p>
			L'Utilisateur est personnellement et exclusivement responsable du matériel de téléphonie, des logiciels, du navigateur, du modem ou de manière générale de tout équipement dont il a besoin pour l'utilisation de l'Application.
		</p>
		<p>
			Picatch’Us ne saurait être tenue responsable de tout dysfonctionnement de quelque nature que ce soit, relatif aux supports d’accès aux Services de l’Utilisateur.			
		</p>

	<h1>8. CONTENU DES ALBUMS – OBLIGATIONS DE L’UTILISATEUR - ABUS</h1>
		<p>
			<strong>1.</strong>
			L'Utilisateur s'engage à utiliser l'Application dans le respect de l'ensemble des prescriptions mentionnées dans les présentes CGU.
		</p>
		<p>
			Il accepte expressément que l'utilisation de l'Application, des informations et des outils inclus ou accessibles via l'Application s'effectue sous sa propre responsabilité.<br>
			L'Utilisateur s'interdit de télécharger et/ou d'ajouter des Applications tierces de nature à entraver le bon fonctionnement de l'Application.<br>
			En tout état de cause, il sera seul responsable des dommages de quelque nature qu'ils soient qui pourraient être occasionnés à cette occasion.
		</p>

		<p>
			<strong>2.</strong>
			L’Utilisateur est seul responsable des photographies ou images et, plus généralement, tout élément quelconque, diffusés dans un Album ; Picatch’Us ne pourra en aucun cas être tenue responsable des  images, photographies ou tout autre élément ou information publiés par un Utilisateur, dans un Album.
		</p>
		<p>
			Tout Utilisateur s’engage notamment à :
			<ol>
				<li>
					Ne pas diffuser images et/ou photographies :
					<ol>
						<li>contraires à l’ordre public et aux bonnes mœurs</li>
						<li>à caractère diffamatoire, injurieux, raciste, xénophobe, révisionniste ou portant atteinte à l’honneur ou à la réputation d’autrui</li>
						<li>incitant à la haine ou à la violence à l'égard d'une personne ou d'un groupe de personnes à raison de leur origine ou de leur appartenance ou de leur non-appartenance à une ethnie, une nation, une race ou une religion déterminée</li>
						<li>à caractère pédophile</li>
						<li>incitant à commettre un délit, un crime ou un acte de terrorisme ou faisant l’apologie des crimes de guerre ou des crimes contre l’humanité</li>
						<li>incitant au suicide</li>
					</ol>
				</li>
				<li>
					Respecter les droits d’autrui, notamment :
					<ol>
						<li>les droits de la personnalité, et en particulier le droit à l’image</li>
						<li>les droits de propriété intellectuelle et industrielle</li>
						<li>les droits des personnes et des biens.</li>
					</ol>
				</li>
			</ol>
		</p>
		<p>
			L’Utilisateur s’interdit tout agissement susceptible de porter atteinte au bon fonctionnement de l’Application ou des Services et/ou de porter atteinte à la réputation de Picatch’Us.<br>
			Picatch’Us se réserve la faculté de supprimer tout contenu illicite ou portant atteinte aux droits de tiers, dès qu’elle en aura connaissance.
		</p>
		<p>
			<strong>3.</strong>
			Tout propos/photographie contrevenant au point 2. ci-dessus pourra être signalé par tout Utilisateur à Picatch’Us en cliquant sur l'onglet « Signaler » figurant sur l’Application.
		</p>
		<p>
			L’Utilisateur est informé que les notifications abusives sont sanctionnées dans le cadre de la loi pour la confiance dans l'économie numérique (LCEN) d'une peine d'un an d'emprisonnement et de 15.000 € d'amende.
		</p>

	<h1>9. DESINSCRIPTION – SUSPENSION – CLOTURE DU COMPTE UTILISATEUR</h1>
		<p>
			<strong>1.</strong>
			L’Utilisateur peut cesser à tout moment et sans motif d’utiliser l’Application ou le service. Cela peut se faire au travers de la suppression simple de l’application, étant donné que cette dernier n’offre pas la possibilité de crée un compte utilisateur. Picatch’Us n’étant qu’une simple passerelle d’utilisation à l’application et au site Facebook, l’utilisation se fait grâce à ses comptes utilisateurs et est donc soumis à ses règlementation.
		</p>
		<p>
			<strong>2.</strong>
			Picatch’Us se réserve le droit de suspendre à tout moment, et sans préavis, temporairement ou définitivement, l’accès aux Services à tout Utilisateur qui ne respecterait pas tout ou partie des présentes CGU, notamment concernant le respect des dispositions relatives au contenu des Albums et de celles relatives aux droits de propriété intellectuelles.
		</p>

	<h1>10. PROTECTION DES DONNEES PERSONNELLES</h1>
		<p>
			Picatch’Us, dans le cadre des Services, est amenée à recueillir un certain nombre de données personnelles des Utilisateurs via Facebook, nécessaires pour le bon fonctionnement de l’Application.<br>
			Picatch’Us traite ces informations avec la plus grande confidentialité.
		</p>
		<p>
			En application de la loi n°78-17 du 6 janvier 1978 modifiée, dite « Informatiques et Libertés », le traitement des données personnelles recueillies sur l’Application a fait l’objet d’une déclaration auprès de la CNIL.
		</p>
		<p>
			L’Utilisateur est informé, conformément à l’article 32 de la loi « Informatique et Libertés », que les informations récupérés par Picatch’Us, sont nécessaires pour répondre à ses demandes et sont destinées à Picatch’Us, en tant que responsable du traitement des données, à des fins de gestion administrative et commerciale.
		</p>
		<p>
			Les données personnelles ainsi recueillies pourront faire l’objet de statistiques relatives à la fréquentation de l’Application, via notamment GOOGLE ANALYTICS, ou MIXPANEL dont l'Utilisateur est informé et qu'il accepte.<br>
			Picatch’Us ne transmet ces informations à aucun tiers.
		</p>

	<h1>11. POLITIQUE DE CONFIDENTIALITE</h1>
		<p>
			Picatch’Us considère les informations personnelles telles que nom, prénom, mail, âge, évènement Facebook et contenu, amis de l'Utilisateur et cela comme des informations à caractère privé et confidentiel.
		</p>
		<p>
			Les informations communiquées par l'Utilisateur sont exclusivement utilisées par Picatch’Us dans le cadre de l'Application et ne sont divulguées à aucune autre organisation (sauf divulgation requise par la Loi ou qui s'inscrit dans le cadre d'une enquête ou d'une procédure judiciaire ou administrative).
		</p>

	<h1>12. MODIFICATIONS DES CGU</h1>
		<p>
			Picatch’Us se réserve la possibilité de modifier en tout ou partie les présentes CGU, si elle le juge nécessaire et utile, notamment afin de les adapter aux évolutions de l’exploitation de l’Application, et/ou à l'évolution de la législation et/ou aux évolutions du Service.
		</p>
		<p>
			L'Utilisateur qui refuse d'accepter les nouvelles CGU s'interdit toute utilisation de l’Application.
		</p>
		<p>
			Toute utilisation de l’Application par l'Utilisateur suivant une modification des CGU vaudra acceptation des nouvelles Conditions Générales de la part de l'Utilisateur.
		</p>

	<h1>13. RELATION PICATCH’US-UTILISATEURS</h1>
		<p>
			Pour toute question relative aux présentes CGU et, plus généralement aux Services, l’Utilisateur peut écrire à Picatch’Us par courrier électronique à l’adresse : contact@picatchus.com
		</p>

	<h1>14. NULLITES</h1>
		<p>
			Si l’une quelconque des stipulations des présentes CGU s’avérait nulle au regard d’une règle de droit en vigueur ou d’une décision judiciaire devenue définitive, elle serait alors réputée non écrite, sans pour autant entrainer la nullité des présentes CGU ni altérer la validité de ses autres stipulations.
		</p>

	<h1>15. LOI APPLICABLE ET JURIDICTION COMPETENTE</h1>
		<p>
			La langue des présentes CGU est la langue française.<br>
			Les présentes CGU sont soumises à la loi française.<br>
			Tout litige né de l’exécution ou de l’interprétation des présentes CGU, et plus généralement des relations de toute nature entre Picatch’Us et l’Utilisateur, seront de la compétence exclusive des tribunaux de PARIS, sauf dispositions légales impératives ou d’ordre public contraires applicables.			
		</p>
		<p>
			Tout Utilisateur domicilié hors de FRANCE accepte que les litiges nés de l'exécution de l'Application soient soumis au droit français et aux juridictions parisiennes.
		</p>
	</ion-content>
</ion-modal-view>