<ion-view view-title="Event" id="event" ng-init='init()'>
	<ion-header-bar align-title="left" class="bar-calm">
	  <h1 class="title">{{event.name}}</h1>
	</ion-header-bar>
	<ion-content>
	<ion-refresher pulling-text="Tirer pour rafraîchir" on-refresh="refresh()"></ion-refresher>
		<div>
			<p>Photos de l'évènement</p>
		    <div id="{{photo.id}}" class="event_photos" ng-repeat="photo in photos">
		        <img ng-src="{{photo.src}}" on-hold="delete(photo.id)"/>
		        <p ng-switch on="photo.has_liked">
		        	{{photo.total_likes}}
		        	<i ng-switch-when="false" class="ion-ios-heart-outline" ng-click="like(photo.id, photo.pos)"></i>
		       		<i ng-switch-when="true" class="ion-ios-heart" ng-click="dislike(photo.id, photo.pos)"></i>	
		        </p>
		    </div>
		    <hr/>
		</div>
	</ion-content>
</ion-view>
