<ion-view view-title="Event" id="event" ng-init='init()'>
	<ion-header-bar class="barPica bar-calm">
		<div class="headerEvent">
			<i class="ion-chevron-left" ng-click="back()"></i>
		</div> 
		<div class="userEvent">
			<div class="row listInfoEvent">
		    	<div class="col col-20">
		        	<p class="jour">
		        		{{event.start_time | date:'d'}}
		        	</p>
		        	<p class="mois">
		        		{{event.start_time | date :'MMM'}}
		        	</p>
		    	</div>
		    	<div class="col">
		        	<h2>{{event.name}}</h2>
		    	</div>
		    </div>
		    <div class="row">
		    	<div class="col col-50">
		    		{{event.total_participants}}<i class="ion-person-stalker light"></i>
		    	</div>
		    	<div class="col col-50">
		    		{{photos.length}}<i class="ion-images light"></i>
		    	</div>
		    </div>
		</div>
	</ion-header-bar>

	<ion-content>
		<ion-refresher pulling-text="Tirer pour rafraîchir" on-refresh="refresh()"></ion-refresher>
		<div class="listPhotos">
		    <!-- <div id="{{photo.id}}" class="event_photos" ng-repeat="photo in photos"> -->
		    <div collection-repeat="photo in photos" style="padding:2px;" class="col col-33"> 
	            <div on-hold="delete(photo.id,photo.from.id)" ng-click="openModal(photo.id, photo.pos)" style="position:relative;
	            			background-image:url({{photo.src}});
	                        background-repeat:no-repeat; 
	                        background-position: center center;
    						background-size: cover;
	                        width:100%;
	                        padding-top:100%"
	                        > 
	                <div class="likePhotos" ng-switch on="photo.has_liked">
		        		{{photo.total_likes}}
		        		<i ng-switch-when="false" class="ion-ios-heart-outline" ng-click="like(photo.id, photo.pos)"></i>
		        		<i ng-switch-when="true" class="ion-ios-heart" ng-click="dislike(photo.id, photo.pos)"></i>	
		        	</div>
	            </div>
		    </div>
		        <!-- <img ng-src="{{photo.src}}" on-hold="delete(photo.id)"/> -->
		</div>
	</ion-content>
</ion-view>
