<ion-view view-title="Home" ng-init="init()">
	<ion-header-bar align-title="left" class="bar-calm">
	  <h1 class="title">Welcome,</h1>
	  <div class="buttons">
	    <i class="ion-log-out" ng-click="logout()"></i>
	  </div>
	</ion-header-bar>
	<ion-content>
		<ion-refresher pulling-text="Tirez pour rafraîchir" on-refresh="refresh()"></ion-refresher>
		<div class="bar bar-subheader bar-calm userProfile">
		    <img ng-src="{{'http://graph.facebook.com/' + user.id + '/picture?type=large'}}"/>
		    <h3>{{user.name}}</h3>
		</div>

	    <ion-list class="list">
	        <ion-item class="item item-thumbnail-left" ng-swipe-left="takePicture({{event.id}})" ng-click="getEventPhotos({{event.id}})" ng-repeat="event in events">
	            <img ng-src="{{event.cover}}"/> 
	            <h2>{{event.name}}</h2>
	            <p>{{event.start_time}}</p>
	        </ion-item>
	    </ion-list>
	    <hr/>

	    <textarea id="Message" placeholder="What's on your mind?" rows="5"></textarea>
	    <button class="btn btn-block" ng-click="share()">Share</button>
	    <hr/>

	    <button class="btn btn-block" ng-click="readPermissions()">Read Permissions</button>

	    <p>Revoke App Permissions. After revoking permissions, you'll have to grant permissions again when logging in.</p>
	    <button class="btn btn-block" ng-click="revoke()">Revoke Permissions</button>
	</ion-content>
</ion-view>
