<ion-view view-title="Home" ng-init="init()">

	<ion-header-bar class="barPica bar-calm">
		<div class="headerProfile">
			Bienvenue,
    		<i class="ion-log-out" ng-click="logout()"></i>
		</div> 
		<div class="userProfile">
		    <img ng-src="{{'http://graph.facebook.com/' + user.id + '/picture?type=large'}}"/>
		    <h3>{{user.name}}</h3>
		</div>
	</ion-header-bar>


	<ion-content start-y="150">
		<ion-refresher pulling-text="Tirez pour rafraîchir" on-refresh="refresh()"></ion-refresher>

	    <ion-list class="list " canswipe="listCanSwipe" >
	        <ion-item class="item item-thumbnail-left itemListEvent" ng-swipe-left="takePicture({{event.id}})" ng-click="getEventPhotos({{event.id}})" ng-repeat="event in events">
	            <img class="photoListEvent" ng-src="{{event.cover}}" ng-if="event.cover"/> 
	            <img class="photoListEvent" ng-src="../img/no-cover.png" ng-if="!event.cover"/> 
	            <h2>{{event.name}}</h2>
	            <p>{{event.start_time}}</p>
	        </ion-item>
	    </ion-list>
	    <hr/>

	    <textarea id="Message" placeholder="What's on your mind?" rows="5"></textarea>
	    <button class="btn btn-block" ng-click="share()">Share</button>
	    <hr/>

	    <button class="btn btn-block" ng-click="readPermissions()">Read Permissions</button>

	    <p>Revoke App Permissions. After revoking permissions, you'll have to grant permissions again when logging in.</p>
	    <button class="btn btn-block" ng-click="revoke()">Revoke Permissions</button>
	</ion-content>
</ion-view>
