<ion-modal-view id="modal-photo" on-swipe-down="closeModalPhoto()">
    <ion-pane class="modalPane">
    	<div ng-if="modal.photo.orientation == 'portrait'" class="portrait">
			<img img-cache ng-src="{{modal.photo.src_modal}}">
    	</div>

    	<div ng-if="modal.photo.orientation == 'landscape'" class="landscape">
			<span class="helper"></span><img img-cache ng-src="{{modal.photo.src_modal}}">    		
    	</div>
	  <!--   <div class="list card">
	  					<div class="item item-body">
	  					    <img img-cache class="full-image" ng-src="{{modal.photo.src_modal}}">
	  					    <p>{{modal.photo.description}}</p>
	  					    <p>
	  					      <a class="subdued">{{modal.photo.total_likes}} Like</a>
	  					    </p>
	  					</div>
	  
	  					<div class="item tabs tabs-secondary tabs-icon-left" ng-switch on="modal.photo.has_liked">
	  					    <a class="tab-item" ng-switch-when="false" ng-click="like(modal.photo.pos,$event)">
	  					      <i  class="ion-ios-heart-outline">Like</i>
	  					    </a>
	  					    <a class="tab-item" ng-switch-when="true" ng-click="dislike(modal.photo.pos,$event)">
	  					      <i class="ion-ios-heart">Like</i>
	  					    </a>
	  				    </div>
	                 	</div> -->
    </ion-pane>
    <div class="footerModal">
    	<div class="modalPhoto-like">
    		{{modal.photo.total_likes}} Likes
    	</div>
		<div class="modalPhoto-userLike" ng-if="!modal.photo.has_liked" ng-click="like(modal.photo.pos, $event)">
    		<i class="ion-ios-heart-outline" ></i>
    	</div>
    	<div class="modalPhoto-userLike" ng-if="modal.photo.has_liked" ng-click="dislike(modal.photo.pos, $event)">
    		<i class="ion-ios-heart"></i>
    	</div>   	
    </div>
</ion-modal-view>