<ion-modal-view on-swipe-down="quitModal()">
    <ion-content>
    <div ng-switch on="modal.orientation">
        <img id="modal_img" ng-src="{{modal.src_modal}}" ng-switch-when="portrait" style="margin-top:17%"/>
        <img id="modal_img" ng-src="{{modal.src_modal}}" ng-switch-when="landscape" style="margin-top:55%"/>
	 	
	 	<div class="modal-likes" ng-switch on="modal.has_liked">
		{{modal.likes}}
		<i ng-switch-when="false" class="ion-ios-heart-outline" ng-click="likeModal(modal.id, modal.pos)"></i>
		<i ng-switch-when="true" class="ion-ios-heart" ng-click="dislikeModal(modal.id, modal.pos)"></i>	
		</div>	
    </div>
    </ion-content>
</ion-modal-view>