<ion-modal-view>
	<ion-header-bar align-title="left" class="bar-stable row">	
		<div class="col col-20">
		    <i class="ion-chevron-left" ng-click="closeConfidentialite()"></i>
		</div>
		<h1 class="title">Politique de Confidentialité</h1>
	</ion-header-bar>
	<ion-content>
	<h1>PREAMBULE</h1>
	<p>
		Timeshot est une application sociale faisant office de passerelle entre les Albums de l’application définie dans les CGU) et les évènements Facebook. Nous croyons en l’imagerie numérique au travers d’un partage instantané, à la simplification et l’optimisation de l’usage des évènements Facebook dans l’intérêt de pouvoir graver dans le temps vos plus beaux moments.		
	</p>
	<h1>QUE FAISONS-NOUS AVEC LES INFORMATIONS RECUEILLIES?</h1>
	<p>
		Afin de vous fournir ce service génial, nous recueillons certaines informations lorsque vous vous inscrivez et interagissez avec nos services.<br>
		Pour une utilisation basique de Picatch’Us, nous devons recueillir: un nom et prénom d'utilisateur uniques, une adresse e-mail, votre âge ou votre date de naissance, la liste de vos amis, la liste de vos évènements Facebook et leurs contenus. Nous pourrons à l'avenir vous demander de plus amples informations.
	</p>
	<p>
		Nous utilisons ces informations pour les finalités décrites ci-dessous:
		<ol>
			<li>Pour vous aider à trouver et vous connecter avec vos amis, y compris en les invitant à utiliser Picatch’Us, et pour aider vos amis à vous trouver</li>
			<li>Vous permettre de partager en instantané avec vos amis via les évènements Facebook</li>
			<li>Vous permettre de consulter vos photos et celles de vos amis lors des évènements auxquels vous seriez convié</li>
			<li>Analyser les tendances et tous les usages</li>
			<li>Développer et améliorer nos services et fonctionnalités</li>
			<li>Vérifier votre identité pour prévenir la fraude ou d'autres activités non autorisées ou illégales dans nos services</li>
		</ol>
	</p>
	<h1>AGE MINIMUM ET REGLEMENTATION LEGALE D’UTILISATION</h1>
	<p>
		Etant donné que Picatch’Us ne fait qu’office de passerelle avec Facebook, tout utilisateur ayant un compte Facebook a la possibilité d’utiliser nos services, et donc est forcément soumis aux Conditions Générales d’Utilisation de ce dernier vers lesquelles nous vous renvoyons. Dans ce cas-là, Picatch’Us se décharge de toute obligation de vérification concernant un quelconque faux renseignement (âge, ou autre) qu’un utilisateur aurait pu soumettre lors de la création de son compte Facebook.
	</p>
	<h1>NOUS SERVONS ET PROTEGEONS VOS DONNEES PERSONNELLES</h1>
	<p>
		Nous prenons des mesures raisonnables pour protéger vos renseignements personnels. S'il vous plaît soyez conscients, toutefois, que, malgré nos efforts, aucune mesure de sécurité n’est parfaite ou impénétrable et aucune méthode de transmission de données ne peut être garantie contre toute interception ou un autre type d'abus.
	</p>
	<h1>LE CHANGEMENT PEUT ETRE UNE BONNE CHOSE</h1>
	<p>
		Toute information recueillie est soumise à la politique de confidentialité en vigueur au moment où cette information est recueillie. Toutefois, dans le temps, nous pourrions modifier et réviser notre politique de confidentialité. Dans le cas d’un changement fait, nous vous informerons de ces changements en les affichant sur cette page ou en vous envoyant un e-mail ou autre notification, et nous indiquerons quand ces changements entreront en vigueur. En continuant d'accéder ou utiliser nos services après que ces changements entrent en vigueur, vous acceptez d'être liés par la politique révisée.
	</p>
	<p>
		Si vous avez des questions au sujet de notre politique de confidentialité merci de de nous en faire part à l’adresse suivante : contact@picatchus.com 
	</p>
	<p>
		Fait le: 26 octobre, 2015
	</p>
	</ion-content>	

</ion-modal-view>	



