<ion-view view-title="Envoie ton catch !" hide-nav-bar="false">
	<ion-nav-buttons side="left">
    	<button class="button button-icon icon ion-android-close" ng-click="quit()"></button>
    </ion-nav-buttons>
	<ion-nav-buttons side="right">
     	<button class="button button-clear button-custom" ng-click="sendPhoto()">Envoyer</button>
    </ion-nav-buttons>

	<ion-content ng-init="init()">
		<div class="row">
	    	<button class="button button-full button-clear button-dark icon-right ion-chevron-right">
			  Dans : Evénements en cours
			</button>
	    </div>
	    <div class="row">
	    	<textarea ng-model="description" placeholder="Dis quelque chose à propos de cette photo" style="width: 100%;height:60px;"></textarea>
	    </div>
		<img id="photo" src="" style="width:100%"> 
	</ion-content>
</ion-view>