<ion-modal-view>
	<ion-header-bar class="bar bar-header">
	  <div class="h1 title">Sélection des événements</div>
	  <button class="button button-clear button-positive" ng-click="modal.hide()">Valider</button>
	</ion-header-bar>
    <ion-content>
    	<ion-checkbox ng-model="data.onMyWall">Sur mon mur</ion-checkbox>
    	<h3>Evénements en cours</h3>
   		<ion-checkbox ng-model="event.isDestination" ng-true-value="{{event.isDestination}}" collection-repeat="event in data.liveEvents">{{event.name}}</ion-checkbox>
    </ion-content>
</ion-modal-view>